@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Fraunces:wght@300;400;700&family=Hanken+Grotesk:wght@800&family=Inter:wght@300;500&family=Lato:ital,wght@0,700;1,400&family=Lexend+Deca&family=Manrope:wght@800&family=Merriweather:ital,wght@0,700;1,400&family=Montserrat:ital,wght@0,300;0,600;1,500&family=Open+Sans:wght@300;400&family=Outfit:wght@200;300;800&family=Overpass:wght@400;700&family=Poppins:ital,wght@0,300;0,400;0,600;1,400;1,800&family=Red+Hat+Display:wght@300;400&family=Roboto:wght@400;700&family=Space+Grotesk:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Fraunces:wght@300;400;700&family=Hanken+Grotesk:wght@800&family=Inter:wght@300;500&family=Lato:ital,wght@0,700;1,400&family=Lexend+Deca&family=Manrope:wght@800&family=Merriweather:ital,wght@0,700;1,400&family=Montserrat:ital,wght@0,300;0,600;1,500&family=Open+Sans:wght@300;400&family=Outfit:wght@200;300;800&family=Overpass:wght@400;700&family=Poppins:ital,wght@0,300;0,400;0,600;1,400;1,800&family=Red+Hat+Display:wght@300;400&family=Roboto:wght@400;700&family=Space+Grotesk:wght@500&display=swap');

#containerMaster{
  display: flex;
  place-items: center;
  min-height: 100vh;
  width: 80%;
  margin: auto;
  justify-content: space-between;
}

/*form*/
p{
  margin-bottom: 7px;
  font-size: 16px;
  color: #1A202C;
}
#container1, p{
  font-family: 'Merriweather', serif;
}
form{
  font-family: 'Lato', sans-serif;
}
form p{
  font-family: 'Lato', sans-serif;
}
input::placeholder{
  font-family: 'Lato', sans-serif;
}
h1{
  color: #1A202C;
  font-size: 26px;
  margin-bottom: 39px;
  font-family: 'Merriweather', serif;
}
input{
  width: 350px;
  height: 50px;
  margin-bottom: 11px;
}
input[type="checkbox"] {
  width: 15px;
  display: none;
}
img{
  transition: transform 1s ease;
}
img:hover{
  transform: scale(1.2);
  transition: 1s;
}
#box{
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px solid #E8E8E8;
  margin-right: 10px;
  cursor: pointer;
  margin-right: 11px;
}
input[type='checkbox']:checked + #box{
  background-color: #04C35C;
}
#esqueceu{
  display: flex;
  align-items: center;
  margin-top: 28px;
  margin-bottom: 28px;
}
a{
  margin-left: 81px;
  text-decoration: none;
  color: #2B6CB0;
}
#buttons{
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
#entrar{
  background-color: #04C35C;
  border: none;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: transform .8s ease;
}
#entrar:hover{
  transform: scale(1.05);
  transition: 1s;
  background-color: #04b657;
}
#google{
  background-color: #1A202C;
  color: #fff;
  background-image: url(./assets/img/google.png);
  background-repeat: no-repeat;
  background-position: 59px center;
  cursor: pointer;
  transition: transform .8s ease;
}
#google:hover{
  transform: scale(1.05);
  transition: 1s;
  background-color: #131720;
}
input{
  border-radius: 5px;
  border: #E8E8E8 solid 1px;
}

input[type='password'], input[type='email']{
  padding-left: 20px;
}

@media(max-width: 980px){
  #container1{
    display: none;
  }
  #containerMaster{
    display: flex;
    place-items: center;
    min-height: 100vh;
    width: 90%;
    margin: auto;
    justify-content: center;
  }
  #container2{
    width: 90%;
  }
  input{
    width: 100%;
  }
  a{
    margin-left: 0;
    position: absolute;
    right: 0;
    margin-right: 10%;
  }
  #google{
    background-position: 15% center;
  }

}

@media(max-width: 400px){
  #google{
    background-position: 10% center;
  }
}

/*js*/
.hidde{
  display: none !important;
}

.classeInicialHide{
  display: none !important;
}
.classeSucess{
  display: block !important;
}

#sucess{
  display: block;
  place-items: center;
  border: solid 1px #E8E8E8;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 30%;
  padding: 30px;
  border-radius: 20px;
}
#sucess input{
  margin-top: 20px;
  cursor: pointer;
  background-color: #04C35C;
  color: #fff;
  font-size: 18px;
  width: 100%;
  font-family: 'Lato', sans-serif;
}
#sucess input:hover{
  transform: scale(1.05);
  transition: 1s;
  background-color: #04b657;
}
h2{
  font-size: 20px;
  font-family: 'Merriweather', serif;
}

@media(max-width: 1000px){
  #sucess{
    width: 80%;
  }
}

.btnError{
  border: solid 1px rgb(252, 38, 38);
}